<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Info</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <style>

    </style>
</head>

<body>
    <div class="container">
        <div class="form-container">
            <form>
                <div class="form-group">
                    <input type="text" name="" id="inputvalue" placeholder="search a movie">

                </div>
                <button type="submit" id="search-btn">Search a Movie</button>
            </form>
        </div>
        <!-------------------------------------- MOVIE CONTAINER ----------------------------------->

        <div class="movie-container">

        </div>

        <!-------------------------------------- MOVIE DETAILS   ------------------------------------>

        <div class="movie-detail">
            <!-- <img src="https://image.tmdb.org/t/p/w500/xpu8enBAtOHo8KS5eGNONsC6GaS.jpg" alt="" class="backdrop-image">
            <div class="backdrop">
                <h1>Bahubali : The Beginning</h1>
                <ul>
                    <li>17/06/1997</li>
                    <li>Romance</li>
                    <li>Comedy</li>
                    <li>1h57m</li>
                </ul>
                <p>
                    <span>Overview</span><br>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus odit saepe sunt vero ipsam culpa
                    aspernatur exercitationem. Quis dolore veritatis quos nulla dolorem illo, deserunt provident eius,
                    quibusdam, iure nemo?</p>
            </div> -->

        </div>
        <div class="card-container">
            <!-- <div class="card">
                <div class="card-image">
                    <img src="https://image.tmdb.org/t/p/w500/6naZ3oybdCtfggc5pTrcBDxOXrP.jpg" alt="">
                </div>
                <div class="card-body">
                    <p class="character">Character name</p>
                    <p class="real-name">Real name</p>
                </div>
            </div> -->


        </div>

    </div>
    <p><%= api %> </p>
    <script></script>
    <script src="./assets/js/app.js"></script>

</body>

</html>