<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Info</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <style>

    </style>
</head>

<body>
    <div class="container">
        <div class="form-container">
            <form>
                <div class="form-group">
                    <input type="text" name="" id="inputvalue" placeholder="search a movie">

                </div>
                <button type="submit" id="search-btn">Search a Movie</button>
            </form>
        </div>
        <!-------------------------------------- MOVIE CONTAINER ----------------------------------->

        <div class="movie-container">

        </div>

        <!-------------------------------------- MOVIE DETAILS   ------------------------------------>

        <div class="movie-detail">

        </div>
        <div class="card-container">



        </div>

    </div>

    <script src="./assets/js/app.js"></script>

</body>

</html>